@model PublicacViewModel
@{
    ViewData["Title"] = "Huerto Urbano";
}

<h1>Huerto Urbano</h1>

<h2>Hortalizas recomendadas para plantar en Nuevo León</h2>
<br>
<form method="post" asp-controller="Home" asp-action="Blog" enctype="multipart/form-data">
    
    <div class="form-group">
        <label asp-for="TipoHortaliza"></label>
        <select asp-for="TipoHortaliza" asp-items="Model.TipoHortalizas" class="form-control"></select>
        <span asp-validation-for="TipoHortaliza" class="text=danger"></span>
    </div>
    
</form>

